@import 'assets/bootstrap.min.css';

html, body {
  height: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.inner-container {
  min-height: 100%;
  margin-bottom: -50px;
}

.inner-container:after {
  content: "";
  display: block;
  height: 30px;
}


